<main>
    <!-- About US Start -->
    <div class="about-area2 gray-bg pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Tittle -->
                    <div class="about-right mb-90">
                        <div class="about-img">
                            <!-- <img src="{{news.img}}" alt=""> -->
                            <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
                        </div>
                        <div class="heading-news mb-30 pt-30">
                            <h3>{{gallery?.title}}</h3>
                            <h6>Publicado por:{{gallery?.author}}</h6>
                        </div>
                    </div>
                    <!-- From -->

                </div>
                <div class="col-lg-4">
                    <!-- New Poster -->
                    <div class="news-poster d-none d-lg-block">
                        <img src="assets/img/news/news_card.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About US End -->
</main>