<main>
    <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-3 col-md-3">
                            <div class="section-tittle mb-30">
                                <h3>Últimas notícias</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Nav Card -->
                            <div class="tab-content" id="nav-tabContent">
                                <!-- card one -->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="whats-news-caption">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6" *ngFor="let news of newsList">
                                                <div class="single-what-news mb-100">
                                                    <div class="what-img">
                                                        <img src="{{news.img}}" alt="{{news.title}}">
                                                    </div>
                                                    <div class="what-cap">
                                                        <span class="color1">{{news.hat}}</span>
                                                        <h4><a [routerLink]="['/noticias',news.slug]">{{news.title}}</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- New Poster -->
                    <div class="news-poster d-none d-lg-block">
                        <img src="assets/img/news/news_card.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Whats New End -->


    <!--Start pagination -->
    <div class="pagination-area pb-45 text-center" *ngIf="hasPagination">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <!-- <li class="page-item">
                                    <a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a>
                                </li> -->
                                <li class="page-item active" *ngFor="let page of totalPages;let i = index"><a
                                        class="page-link" style="cursor: pointer;" (click)="pagination(i + 1)">{{i +
                                        1}}</a></li>
                                <!-- <li class="page-item"><a class="page-link" href="#"><span
                                            class="flaticon-arrow right-arrow"></span></a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End pagination  -->
</main>